/* ====== VARIABLES ====== */

:root {
  --primary-accent-color: #4d5ae5;
  --secondary-accent-color: #404bbf;
  --accent-light-color: #e7e9fc;
  --primary-light-color: #ffffff;
  --secondary-light-color: #f4f4fd;
  --primary-dark-color: #434455;
  --secondary-dark-color: #2e2f42;
  --success-message-color: #31d0aa;
  --primary-grey-color: #8e8f99;
  --modal-bg-color: #fcfcfc;
  --primary-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --button-letter-spacing: 0.04em;
  --primary-letter-spacing: 0.02em;
  --transition-timing: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* ====== /VARIABLES ====== */

/* ====== cкидання стилів ====== */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

/* наслідування (inheritance) */
body {
  font-family: var(--primary-font);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: var(--primary-letter-spacing);
  color: var(--primary-dark-color);
  background-color: var(--primary-light-color);
}

button {
  font-style: normal;
  font-family: var(--primary-font);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: var(--button-letter-spacing);
  cursor: pointer;
  border-radius: 4px;
}

button:hover,
button:focus {
  background-color: var(--secondary-accent-color);
}

.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
  transition: color var(--transition-timing),
    background-color var(--transition-timing),
    text-decoration-color var(--transition-timing);
}

.link:hover,
.link:focus,
.link:active {
  color: var(--secondary-accent-color);
}

.link:active {
  text-decoration: underline;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1158px;
  max-width: 1440px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.logo {
  font-family: var(--secondary-font);
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-accent-color);
}

/* ====== /cкидання стилів ====== */

/* ====== PAGE HEADER ====== */

.page-header {
  border-bottom: 1px solid var(--accent-light-color);
}

.page-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-navigation {
  display: flex;
  align-items: center;
}

.page-navigation > .logo {
  margin-right: 76px;
}

.header-logo-span {
  color: var(--secondary-dark-color);
}

.menu {
  display: flex;
  align-items: center;
  gap: 40px;
}

.menu-item {
  position: relative;
}

.menu-link {
  display: block;
  padding: 24px 0;
  font-weight: 500;
  color: var(--secondary-dark-color);
}

.current::after {
  position: absolute;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--secondary-accent-color);
  border-radius: 2px;
  content: '';
}

.header-page-address {
  font-style: normal;
}

.address-list {
  display: flex;
  gap: 40px;
}

.address-list-link {
  color: var(--primary-dark-color);
}

/* ====== /PAGE HEADER ====== */

/* ====== HERO ====== */
.hero {
  padding-top: 188px;
  padding-bottom: 188px;
  text-align: center;
  background-color: var(--secondary-dark-color);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/1_hero/hero-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-header {
  max-width: 496px;
  margin-bottom: 48px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: var(--primary-letter-spacing);
  color: var(--primary-light-color);
}

.hero-button {
  min-width: 169px;
  margin-right: auto;
  margin-left: auto;
  border: 0;
  padding: 16px 32px;
  display: block;
  background-color: var(--primary-accent-color);
  color: var(--primary-light-color);
}

/* ====== /HERO ====== */
/* ====== FEATURES ====== */

.features {
  padding-top: 120px;
  padding-bottom: 120px;
}

.features-list {
  display: flex;
  gap: 24px;
}
.features-list-item {
  display: flex;
  flex-basis: calc((100% - 3 * 24px) / 4);
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.features-item-container {
  padding-top: 24px;
  padding-bottom: 24px;
  width: 100%;
  background-color: var(--secondary-light-color);
  text-align: center;
}
.features-item-icon {
}

.features-item-header {
  /* margin-bottom: 8px; */
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: var(--primary-letter-spacing);
  color: var(--secondary-dark-color);
}

/* ====== /FEATURES ====== */
/* ====== SERVICES ====== */

.services {
  padding-bottom: 120px;
}

.services-header {
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  color: var(--secondary-dark-color);
}

.services-list {
  display: flex;
  gap: 24px;
}

/* ====== /SERVICES ====== */
/* ====== TEAM ====== */

.team {
  padding-top: 120px;
  padding-bottom: 120px;
  text-align: center;
  background-color: var(--secondary-light-color);
}

.team-header,
.team-item-header {
  color: var(--secondary-dark-color);
  letter-spacing: var(--primary-letter-spacing);
  text-transform: capitalize;
}

.team-header {
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-item {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-light-color);
  border-radius: 0px 0px 4px 4px;
}

.team-name-blocks {
  padding: 32px 0;
  width: 232px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.team-item-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.team-item-text {
  line-height: 1.5;
}

.team-item-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.team-item-links {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}

.team-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--primary-accent-color);
  border-radius: 50%;
  transition: background-color var(--transition-timing),
    fill var(--transition-timing);
}

.team-link-icon {
  fill: var(--secondary-light-color);
}

.team-social-link:hover,
.team-social-link:focus,
.team-social-link:active {
  background-color: var(--secondary-accent-color);
}

/* ====== /TEAM ====== */
/* ====== CUSTOMERS ======= */
.customers {
  padding-top: 120px;
  padding-bottom: 120px;
  text-align: center;
}

.customers-header {
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  color: var(--secondary-dark-color);
  letter-spacing: var(--primary-letter-spacing);
  text-transform: capitalize;
}

.customers-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.customers-item {
  width: 168px;
  height: 88px;
}

.customers-item-link {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 16px 32px;
  border: 1px solid var(--primary-grey-color);
  border-radius: 4px;
  transition: background-color var(--transition-timing),
    fill var(--transition-timing);
}

.customers-icon {
  fill: var(--primary-grey-color);
  transition: fill var(--transition-timing);
}

.customers-item-link:hover,
.customers-item-link:focus,
.customers-item-link:active {
  border-color: var(--secondary-accent-color);
}

.customers-item-link:hover .customers-icon,
.customers-item-link:focus .customers-icon,
.customers-item-link:active .customers-icon {
  fill: var(--secondary-accent-color);
}

/* ====== /CUSTOMERS ======= */
/* ====== PORTFOLIO PAGE ====== */

.portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}

.portfolio-filters {
  margin-bottom: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.portfolio-filter-btn {
  padding: 12px 24px;
  border: 1px solid var(--accent-light-color);
  color: var(--primary-accent-color);
  background-color: var(--secondary-light-color);
  transition: color var(--transition-timing),
    background-color var(--transition-timing),
    border-color var(--transition-timing);
}

.portfolio-filter-btn:hover,
.portfolio-filter-btn:focus {
  border: 1px solid transparent;
  color: var(--primary-light-color);
  background-color: var(--secondary-accent-color);
}

.portfolio-filter-btn:active {
  border: 1px solid transparent;
  color: var(--primary-light-color);
  background-color: var(--secondary-accent-color);
}

/* PORTFOLIO CARDS */

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 48px 24px;
}

.portfolio-card {
}

.portfolio-img-container {
  position: relative;
  overflow: hidden;
}

.portfolio-img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  background-color: var(--primary-accent-color);
  color: var(--secondary-light-color);
  transition: transform var(--transition-timing);
  transform: translateY(100%);
}

.portfolio-card-block {
  display: flex;
  padding: 32px 16px;
  border: 1px solid var(--accent-light-color);
  border-top: 0;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-self: stretch;
}

.portfolio-card-header {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: var(--primary-letter-spacing);
  color: var(--secondary-dark-color);
}

.portfolio-card-text {
  color: var(--primary-dark-color);
}

.portfolio-card:hover .portfolio-img-overlay {
  transform: translateY(0%);
}

/* ====== /PORTFOLIO PAGE ====== */
/* ====== FOOTER ====== */

.footer {
  padding: 100px 0;
  background-color: var(--secondary-dark-color);
  color: var(--secondary-light-color);
}

.footer-container {
  display: flex;
  column-gap: 120px;
}

.footer-logo-block > .logo {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-logo-span {
  color: var(--secondary-light-color);
}

.footer-text {
  width: 264px;
  letter-spacing: var(--primary-letter-spacing);
}

.footer-social-block {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-social-header {
  font-size: 16px;
  font-weight: 500;
  color: var(--primary-light-color);
}

.footer-social-list {
  display: flex;
  gap: 16px;
}

.footer-social-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}

.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--primary-accent-color);
  border-radius: 50%;
}

.footer-link-icon {
  fill: var(--secondary-light-color);
}

.footer-social-link:hover,
.footer-social-link:focus,
.footer-social-link:active {
  background-color: var(--success-message-color);
}

/* ====== /FOOTER ====== */
